.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    max-width: 60rem;
    margin: auto;
    /* height: 590px; */
}

@media screen and (max-width: 980px) {
    .card-container {
        max-width: 40rem;   
    }
  }